{% extends '_layouts/in_app.html.twig' %}

{% block title %}Créationde portfeuille{% endblock %}

{% block content %}
    <h1>Créer un nouveau portefeuille</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
    {{ form_end }}
{% endblock %}
